main {
  min-height: 660px;
}
.test {
  color: red;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
.grid > .nav {
  grid-column: 4 span;
}
.grid > .news {
  grid-column: 8 span;
}

.nav-news {
  width: 80%;
  margin: 0 auto;
}
.news {
  height: 267.5px;
  overflow-y: auto;
}
/* .news h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
} */

@media (max-width: 899px) {
  .nav-news {
    width: 90%;
  }
  .grid > .nav {
    grid-column: 12 span;
  }
  .grid > .news {
    grid-column: 12 span;
    margin-top: 1rem;
  }
}
