.user-box {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 !important;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.profile-box {
  background-color: #235789;
  text-align: center;
  height: 50%;
  padding: 15px;
}
.image-box {
  height: 50%;
}
.image-box img {
  object-fit: cover;
  height: 115px;
  width: 115px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
}
.image-box img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.name-box {
  height: 50%;
  position: relative;
}

.name-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.profile-box .name:hover {
  opacity: 0.7;
}

.info-box div {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #235789;
  padding: 3%;
  text-align: center;
}
.info-box .shop-name {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-box button {
  width: 30%;
}

@media (max-width: 575.5px) {
  .name-box p {
    width: 100%;
  }
  .info-box button {
    width: 50%;
  }
}
