html,
#app {
  /* height: 1500px; */
  min-height: 100vh;
  color: #43484d;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

.top-right {
  position: absolute;
  right: 20px;
  top: 18px;
}

.links > a {
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 100vh;
  padding: 0 25px;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 5px;
}
.links > a:hover {
  color: aliceblue;
  text-decoration: none;
  opacity: 0.7;
}

.content .top-box {
  height: 80vh;
  background-image: url("../../images/01.jpg");
}

.content .top-box .title {
  color: aliceblue;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.content .top-box .title h1 {
  letter-spacing: 1.5px;
  font-size: 8vw;
  font-family: "Montserrat";
}
.content .top-box .title li {
  font-size: 1.1rem;
  letter-spacing: 1.7px;
  list-style: none;
  line-height: 2.5rem;
  font-weight: 400;
}

.start-btn {
  text-align: center;
  margin-top: 30px;
}
.start-btn button {
  width: 25%;
  height: 70px;
  color: aliceblue;
  background-color: #1f6ed4;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.start-btn button:hover {
  color: aliceblue;
  opacity: 0.7;
}

footer {
  margin-top: 150px;
  padding: 10px 0;
  background-color: #2d2d2d;
  color: azure;
  font-weight: 100;
}
footer small {
  display: block;
  text-align: center;
}

@media (max-width: 899px) {
  .start-btn button {
    width: 32%;
    height: 60px;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
.start-btn button {
    width: 70%;
    height: 50px;
  }
}
